<div *ngIf="!hideFooter">
    <div>
        <!-- Footer Start -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                        <a href="#" class="logo-footer">
                            <img src="assets/images/white_logo.1af5dea052039e6daede941306b53e86.svg" alt="">
                        </a>
                        <p class="mt-4 text-muted">Celsius Network LLC</p>
                        <p class="mt-4 text-muted">
                            <a href="https://goo.gl/maps/RASVqDsiPQBJmpH66" target="_blank"
                                class="text-muted text-decoration-underline">Celsius
                                Network LLC 221
                                River Street,
                                9th Floor Hoboken, NJ 07030 USA</a>
                        </p>
                        <p class="mt-4 text-muted">US: <a href="tel:12018242888"
                                class="text-muted text-decoration-underline">+1 201 824 2888</a></p>
                        <p class="mt-4 text-muted">Celsius Lending LLC- NMLS ID- 2063747</p>
                        <p class="mt-4 text-muted">
                            <a href="https://www.nmlsconsumeraccess.org/EntityDetails.aspx/COMPANY/1905328"
                                target="_blank" class="text-muted text-decoration-underline">NMLS Consumer Access</a>
                        </p>
                        <ul class="list-unstyled social-icon social mb-0 mt-4">
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
                                    <i-feather name="facebook" class="fea icon-sm fea-social"></i-feather>
                                </a></li>
                            <li class="list-inline-item ms-1"><a href="javascript:void(0)" class="rounded">
                                    <i-feather name="instagram" class="fea icon-sm fea-social"></i-feather>
                                </a></li>
                            <li class="list-inline-item ms-1"><a href="javascript:void(0)" class="rounded">
                                    <i-feather name="twitter" class="fea icon-sm fea-social"></i-feather>
                                </a></li>
                            <li class="list-inline-item ms-1"><a href="javascript:void(0)" class="rounded">
                                    <i-feather name="linkedin" class="fea icon-sm fea-social"></i-feather>
                                </a></li>
                        </ul>
                        <!--end icon-->
                    </div>
                    <!--end col-->

                    <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h5 class="text-white footer-head">Individuals</h5>
                        <ul class="list-unstyled footer-list mt-4">
                            <li><a routerLink="" class="text-muted">Earn</a></li>
                            <li><a routerLink="" class="text-muted">Borrow</a></li>
                            <li><a routerLink="" class="text-muted">Pay</a></li>
                            <li><a routerLink="" class="text-muted">Web App</a></li>

                        </ul>
                    </div>
                    <!--end col-->

                    <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h5 class="text-white footer-head">Businesses</h5>
                        <ul class="list-unstyled footer-list mt-4">
                            <li><a routerLink="" class="text-muted">Celsius for Business</a></li>
                            <li><a routerLink="" class="text-muted">Corporate Onboarding</a></li>
                            <li><a routerLink="" class="text-muted">Platform Solutions</a></li>
                            <li><a routerLink="" class="text-muted">Developers</a></li>
                            <li><a routerLink="" class="text-muted">CelsiusX</a></li>
                        </ul>
                    </div>
                    <!--end col-->

                    <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h5 class="text-white footer-head">Community</h5>
                        <ul class="list-unstyled footer-list mt-4">
                            <li><a routerLink="" class="text-muted">CEL Token</a></li>
                            <li><a routerLink="" class="text-muted">Proof of Community</a></li>
                            <li><a routerLink="" class="text-muted">Promo Codes</a></li>
                            <li><a routerLink="" class="text-muted">Top500 HODLers</a></li>
                            <li><a routerLink="" class="text-muted">Swag Shop</a></li>
                            <li><a routerLink="" class="text-muted">Become an Ambassador</a></li>
                            <li><a routerLink="" class="text-muted">Glossary</a></li>
                        </ul>
                    </div>
                    <!--end col-->

                    <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h5 class="text-white footer-head">About Us</h5>
                        <ul class="list-unstyled footer-list mt-4">
                            <li><a routerLink="" class="text-muted">Careers</a></li>
                            <li><a routerLink="" class="text-muted">Our Team</a></li>
                            <li><a routerLink="" class="text-muted">Company Updates</a></li>
                            <li><a routerLink="" class="text-muted">Care</a></li>
                            <li><a routerLink="" class="text-muted">Contact Us</a></li>

                        </ul>
                    </div>
                    <!--end col-->

                    <div class="col-lg-4 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <p class="mt-4">Subscribe to our newsletter</p>
                        <form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="foot-subscribe foot-white mb-3">
                                        <div class="form-icon position-relative">
                                            <i-feather name="mail" class="fea icon-sm icons"></i-feather>
                                            <input type="email" name="email" id="emailsubscribe"
                                                class="form-control ps-5 rounded" placeholder="Your email : " required>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-12">
                                    <div class="d-grid">
                                        <input type="submit" id="submitsubscribe" name="send"
                                            class="btn btn-soft-primary" value="Subscribe">
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </form>
                    </div>
                    <!--end col-->

                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </footer>
        <!-- Footer End -->
    </div>
</div>
<!--end footer-->
<footer class="footer footer-bar">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-3">
                        <p>Celsius Network LLC221 River Street, 9th Floor Hoboken, NJ 07030 USA</p>
                    </div>
                    <div class="col-md-3">
                        <p>Celsius EU UAB Gedimino pr. 20 Vilnius 01103, Lithuania</p>
                    </div>
                    <div class="col-md-3">
                        <p>Celsius Network Limited <span>(UK Tax Strategy)</span></p>

                        <p>The Harley Building, 77-79 New Cavendish Street London W1W 6XB, United Kingdom</p>
                    </div>
                    <div class="col-md-3">
                        <p>Celsius Network LLC221 River Street, 9th Floor Hoboken, NJ 07030 USA</p>
                    </div>

                    <div class="col-md-12">
                        <p>Celsius is not a bank, depository institution, custodian or fiduciary and the assets in your
                            Celsius account are not insured by any private or
                            governmental insurance plan (including FDIC or SIPC), nor are they covered by any
                            compensation
                            scheme (including FSCS).</p>
                    </div>

                    <div class="col-md-12">
                        <p>Holding, trading or using crypto assets carry significant risks, please carefully read our
                            Risk Disclosure page. Celsius does not provide any
                            financial, legal or tax advice, nor should this website be viewed as an offer or inducement
                            to make any financial decisions.</p>
                    </div>

                    <div class="col-md-6">
                        <p>Registered as a Money Services Business (MSB) number 31000192265811
                            with the US Financial Crimes Enforcement Network (FinCEN);</p>
                    </div>

                    <div
                        class="col-md-12 position-relative d-flex justify-content-start align-items-start flex-column flex-lg-row">
                        <span class="me-5 mb-2">
                            <a class="text-muted"
                                href="https://www.nmlsconsumeraccess.org/EntityDetails.aspx/COMPANY/1905328"
                                target="_blank">©2021 Celsius Lending LLC - NMLS ID:
                                2063747</a>
                        </span>

                        <span class="me-5 mb-2">
                            <a class="text-muted" routerLink="">Terms of Use</a>
                        </span>

                        <span class="me-5 mb-2">
                            <a class="text-muted" routerLink="">Privacy Policy</a>
                        </span>

                        <span class="me-5 mb-2">
                            <a class="text-muted" routerLink="">Risk Disclosure</a>
                        </span>

                        <span class="site-version">v2.5.0</span>
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</footer>
<!--end footer-->